body {
    padding: 60px;
    margin: 0;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: -4px;
    font-weight: 200;
    font-size: 60px;
    margin: 0;
    color: white;
    display: inline-block;
}
h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 6px;
    margin-top: 40px;
    font-weight: 300;
}
.tile {
    background-color: white;
    font-family: sans-serif;
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 60px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
}
.tile.tile-hover:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
figure.page-img {
    float: left;
    vertical-align: top;
    width: 250px;
}
figure.page-img img {
    width: 250px;
}
.tile.tile-single {
    overflow: auto;
    padding-top: 20px;
    padding-right: 25%;
    color: #999999;
    vertical-align: top;
}
.tile.tile-single img {
    max-width: 100%;
}
.tile h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.85em;
    font-weight: 300;
    letter-spacing: 0.22em;
    color: #313f47;
}
.tile.tile-single h2 {
    text-align: left;
}
.tile figure {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.tile figure img {
    height: 192px;
}
section {
    display: inline-block;
    vertical-align: top;
}

section.section-single {
    width: 100%;
}

.back-home {
    margin-top: 50px;
    display: inline-block;
    padding: 10px;
    color: white;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease, background-color 0.2s ease;
    -moz-transition: color 0.2s ease, background-color 0.2s ease;
    -webkit-transition: color 0.2s ease, background-color 0.2s ease;
}

.back-home:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    cursor: pointer;
}

.tile-link {
    text-decoration: none;
    color: black;
    display: inline-block;
}

ul.social-icons {
    list-style: none;
    display: inline;
    float: right;
    margin: 0;
}
ul.social-icons li {
    display: inline-block;
    margin-right: 25px;
}
ul.social-icons li a {
    position: relative;
    display: block;
    color: white;
    font-size: 40px;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    text-indent: 60px;
    line-height: 60px;
    font-family: 'FontAwesome';
    transition: color 0.2s ease, border-color 0.2s ease;
    -moz-transition: color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
}

ul.social-icons li a:before {
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    text-indent: 0;
    line-height: inherit;
}

ul.social-icons li a:hover {
    color: lightblue;
    border-color: lightblue;
}

input {
    margin-bottom: 10px;
    width: 200px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 4px;
}

footer {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 100px;
}