body {
    padding: 60px;
    margin: 0;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: -4px;
    font-weight: 100;
    font-size: 60px;
    margin: 0;
    color: white;
    display: inline-block;
}
h1 a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -webkit-transition: border-color 0.2s ease;
}
h1 a:hover {
    border-color: white;
}
h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 6px;
    margin-top: 40px;
    font-weight: 300;
}
.tile {
    background-color: white;
    font-family: sans-serif;
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 60px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
}
.tile.tile-hover:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
figure.page-img {
    float: left;
    vertical-align: top;
    width: 250px;
}
figure.page-img img {
    width: 250px;
}
.tile.tile-single {
    overflow: auto;
    padding-top: 20px;
    padding-right: 25%;
    color: #999999;
    vertical-align: top;
}
.tile.tile-single img {
    max-width: 33%;
}
.tile h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.85em;
    font-weight: 300;
    letter-spacing: 0.22em;
    color: #313f47;
}
.tile.tile-single h2 {
    text-align: left;
}
.tile figure {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.tile figure img {
    height: 192px;
}
section {
    display: inline-block;
    vertical-align: top;
}

section.section-single {
    width: 100%;
}

.text-link {
    display: inline-block;
    margin-top: 50px;
    padding: 10px;
    color: white;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease, background-color 0.2s ease;
    -moz-transition: color 0.2s ease, background-color 0.2s ease;
    -webkit-transition: color 0.2s ease, background-color 0.2s ease;
}

.text-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    cursor: pointer;
}

.text-link.text-link-menu {
    display: inline;
}

.tile-link {
    text-decoration: none;
    color: black;
    display: inline-block;
}
ul.top-menu {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-top: 6px;
    padding-left: 50px;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
ul.top-menu li {
    display: inline-block;
    margin-right: 50px;
    line-height: 60px;
}
ul.social-icons {
    list-style: none;
    display: inline;
    float: right;
    margin: 0;
}
ul.social-icons li {
    display: inline-block;
    margin-right: 25px;
}
ul.social-icons li a {
    position: relative;
    display: block;
    color: white;
    font-size: 40px;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    text-indent: 60px;
    line-height: 60px;
    font-family: 'FontAwesome';
    transition: color 0.2s ease, border-color 0.2s ease;
    -moz-transition: color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
}

ul.social-icons li a:before {
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    text-indent: 0;
    line-height: inherit;
}

ul.social-icons li a:hover {
    color: lightblue;
    border-color: lightblue;
}

input {
    margin-bottom: 10px;
    width: 200px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 4px;
}

.form-group label {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 4px;
    display: block;
    font-weight: 300;
}

.form-control {
    width: 100%;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 24px;
    font-family: sans-serif;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-sizing: border-box;
}

.form-control:focus {
    border: 1px solid lightblue;
    box-shadow: 0px 0px 8px lightblue;
}

.btn {
    background: transparent;
    border: 1px solid #aaa;
    border-radius: 2px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.btn:hover {
    border-color: lightblue;
}

footer {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 100px;
}

@media (max-width: 800px) {
    body {
        padding: 20px;
    }
    h1 {
        display: block;
        text-align: center;
    }
    ul.top-menu {
        display: block;
        padding-left: 0;
        margin-left: 0;
        text-align: center;
    }
    figure.page-img {
        display: block;
        float: none;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .tile.tile-single {
        padding: 10px;
        margin: 0;
        display: block;
        float: none;
        overflow: inherit;
        vertical-align: inherit;
    }
    .tile.tile-single h2 {
        text-align: center;
    }
    .tile.tile-single img {
        max-width: 90%;
    }
    ul.top-menu li {
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
        line-height: 60px;
    }
}