{{ partial "html_head.html" }}

{{ partial "header.html" . }}

{{ range $section, $taxonomy := .Site.Sections }}
    <section>
        <h2>{{ $section }}</h2>
        {{ range $taxonomy }}
        <a href="{{ .Page.Permalink }}" class="tile-link">
            <div class="tile">
                <figure>
                    <img src="img/{{ .Page.Params.thumb }}"/>
                </figure>
                <h2>{{ .Page.Title }}</h2>
            </div>
        </a>
        {{ end }}
    </section>
{{ end }}

{{ partial "footer.html" . }}